<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/main.css" rel = "stylesheet">
</head>
<body>
<div th:replace="~{HtmlSource/nav.html::navbar}"></div>


<form action="/search" method="POST">
    <input name="searchText" style="display: inline">
    <button>검색</button>

</form>
    <div class="card" th:each="i : ${items}">
        <img src="https://placeholder.pics/svg/300x300">
        <div>
            <a th:href=" '/detail/' + ${i.id} "><h4 th:text="${i.title}">바지</h4></a>
            <p th:text="${ i.price }  + '원' ">7억</p>
            <a th:href=" '/edit/'  + ${i.id} "><button>수정</button></a>
            <a th:href=" '/del/'  + ${i.id} "><button>삭제</button></a>
            <button th:onclick="fetchid([[${i.id}]])">Ajax삭제</button>
        </div>
    </div>

<div class="pageBtn">
    <a class="btn" th:if="${items.number > 0}" th:href="${pageNumber} - 1">&lt;&lt;</a>
    <span th:text="${pageNumber}"></span>
    <span>/</span>
    <span th:text="${items.totalPages}"></span>
    <a class="btn" th:if="${pageNumber < items.totalPages}" th:href="${pageNumber} + 1">&gt;&gt;</a>
</div>
<script>
    function fetchid(paramid)
    {
        fetch('/PostDel',{
        method : 'POST',
        headers :{ 'Content-Type' : 'application/json' },
        body : JSON.stringify({id : paramid })
        })
    }
</script>
</body>
</html>