<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link href="/css/login.css" rel = "stylesheet">
</head>
<body>
<div class="login-container">
    <h2>Join</h2>
    <form action="/new" method="post">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" placeholder="username" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="password" required>
        </div>
        <div class="form-group">
            <label for="displaynm">Displaynm</label>
            <input type="displaynm" id="displaynm" name="displaynm" placeholder="AKA" required>
        </div>
        <div class="form-group">
            <button type="submit" value="Join">Join</button>
        </div>
    </form>
</div>
</body>
</html>
